<div class="container mt-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col" *ngFor="let food of foods" >
      <div class="card border-primary mb-3" style="width: 18rem;">
        <img src={{food.image}} class="card-img-top img-wrap" alt={{food.title}}>
        <div class="card-body">
          <h5 class="card-title">{{food.title}}</h5>
          <p>Price: ${{ food.price }}</p>
          <p> 
            <label for="foodQuantity">Quantity:</label>
            <input id="foodQuantity" type="number" [defaultValue]="1" min="1" max="10" required [(ngModel)]="food.quantity">
          </p>
          <button class="btn btn-primary" (click)="addItemToCart(food)">Add to order</button>
      </div>
      </div>
    </div>
  </div>
</div>





