<div class="container mx-auto">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Your tickets</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
	</div>
	<div class="modal-body mx-auto">
		<div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
          src={{cartItems[0].image}}
          class="img-fluid rounded-start mx-auto d-block"
          alt={{cartItems[0].title}}}
        />
      </div>
      <div class="col-md-8">
        <div class="card-body mx-auto">
          <p class="card-text">{{ cartItems[0].title }} - {{ cartItems[0].screeningTime }} </p>
          <p class="card-text" *ngFor="let item of cartItems">
             {{ item.ticketType | titlecase }} x{{ item.quantity }} - ${{ item.price?.toFixed(2) }}
          </p>
          <p *ngIf="cartItems.length > 0" class="card-text">
            <strong>Subtotal:</strong> ${{ cartItems! | subtotal | number:'1.2-2' }}
          </p>
        </div>
      </div>
    </div>
    <h6>Scan this QR code at your movie theater</h6>
    <p><img  src='../../../assets/qrcode.png'
      class="img-fluid rounded-start mx-auto d-block"
      alt={{cartItems[0].title}}}  /></p>
	</div>
</div>