.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 100%; 
}

.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.carousel-caption {
  width: 20rem;
  background: var(--bs-body-bg);
}

.carousel-control-next,
.carousel-control-prev /* .carousel-indicators */ {
    filter: invert(100%);
}