 <div class="container mt-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let movie of movies; index as index">
        <div class="card border-primary mb-3" style="width: 18rem;">
          <img src={{movie.poster}} class="card-img-top img-wrap" alt={{movie.title}}>
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text">{{movie.runtime}}</p>
            <p class="card-text">{{movie.genre}}</p>
            <button class="btn btn-primary mx-auto" (click)="selectMovie(movie.id)">Buy tickets</button>
        </div>
        </div>
      </div>

    </div>
  </div>


  


